@import "tailwindcss";
@plugin "@tailwindcss/typography";
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent: #6B69D6;
  --color-accent-100: #f0efff;
  --color-accent-200: #d9d6fc;
  --color-accent-300: #6B69D6;
  --color-accent-400: #5a58c4;
  --color-accent-500: #4947b0;
}
